* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px red solid;
}

.main-container {
  padding: 10px;
  overflow: hidden;
  font-family: sans-serif;
}

/* HEAD PAGE */

.top-page {
  max-width: 1200px;
  margin: 0 auto 10px auto;
}

.tp-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.tp-item {
  flex-grow: 1;
}

.price > h1 {
  font-size: 48px;
}

.price > p {
  font-size: 14px;
  color: rgb(43, 41, 41);
}

.price {
  width: 450px;
}

/* LAST */

.sub {
  margin-left: auto;
  min-width: 100px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.testbtn {
  width: 50px;
  border-radius: 12px;
  height: 26px;
  padding: 1px;
  border: 2px black solid;
  background-color: white;
}

.testbtn > div {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px black solid;
  border-radius: 50%;
}

.testbtn:active {
  width: 50px;
  border-radius: 12px;
  height: 26px;
  padding: 1px;
  border: 2px black solid;
  background-color: black;
}
.testbtn > div:active {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}
/* BOTTOM PAGE */

.card-container {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  width: calc(100% / 3 - ((30px * 2) / 3));
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 20px;
  min-width: 330px;
  box-shadow: 5px 5px 20px -4px #000000;
  overflow: hidden;
}

.dollaro {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.importo {
  font-weight: 900;
  font-size: 70px;
  text-align: center;
}

.mo {
  text-align: center;
  color: rgba(0, 0, 0, 0.521);
  font-size: 18px;
}

.price-mon {
  width: 220px;
  margin: 0 auto;
}

.item-head {
  margin-bottom: 20px;
}

.item-head > h2 {
  font-size: 48px;
}

.item-head > p {
  font-size: 22px;
}

.perc-sconto {
  font-size: 20px;
  background-color: #e3e3e3;
  width: 80px;
  height: 32px;
  padding: 4px;
  border-radius: 12px;
}

.sconto {
  padding-top: 8px;
  margin: 0 auto;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.sconto > span {
  font-size: 18px;
}

.btn {
  margin: 32px auto;
  width: 100%;
  padding: 32px;
  border-radius: 16px;
  background-color: #6500ff;
  color: white;
  font-size: 24px;
  transform: translateY(0);
  transition: transform 0.1s linear;
}

.btn:hover {
  background-color: #400994;
  transform: translateY(-1px);
  transition: transform 0.1s linear;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
}

.item-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: center;
  padding: 8px 20px;
  font-size: 24px;
  margin: 10px;
}

.item-list div:last-child {
  flex: 1 1 1;
  width: 330px;
}

.item-list div:first-child {
  font-weight: 900;
  font-size: 24px;
}

.item-list:last-child {
  margin-bottom: 30px;
}

.card-item:nth-child(2) {
  background-color: #6500ff;
  color: white;
}

.card-item:nth-child(2) .btn {
  background-color: white;
  color: #6500ff;
}

.card-item:nth-child(2) .perc-sconto {
  color: black;
}

.card-item:nth-child(2) .mo {
  color: white;
}

.card-item:last-child .price-mon {
  width: 265px;
  margin: 0 auto;
}
