* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px red solid;
}

.main-container {
  padding: 10px;
  overflow: hidden;
}

/* HEAD PAGE */

.top-page {
  max-width: 900px;
  margin: 0 auto 10px auto;
}

.tp-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.price {
  width: 450px;
}

.sub {
  margin-left: auto;
  min-width: 100px;
}

/* BOTTOM PAGE */

.card-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.card-item {
  width: calc(100% / 3 - ((15 * 2) / 3));
  height: 90px;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: red;
}
